<div class="flex flex-column align-center gap margin-block-start-double">
  <header class="full-width">
    <h2 class="divider txt-large margin-none-block">Developer</h2>
  </header>

  <div class="flex align-center gap txt-normal">
    <%= link_to "Personal access tokens", my_access_tokens_path, class: "btn" %>
  </div>
</div>
