<div class="flex gap-half align-center justify-space-between">
  <%= turbo_frame_tag stage do %>
    <%= link_to edit_workflow_stage_path(stage.workflow, stage) do %>
      <strong class="txt-nowrap overflow-ellipsis"><%= stage.name %></strong>
    <% end %>
  <% end %>
</div>
